* {
    outline: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: white;
}

#appLayout {
    height: 100%;
}
#topCol {
    height: 1em;
}
#leftCol {
    width: 14em;
}

.claro .appLayout .edgePanel {
    background-color: #d0e9fc;
}


